@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
.home-wrapper {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-container {
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 80%;
}

.nav-wrapper {
  padding: 10px;
}
.small-screens {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;
}

.nav-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: -10px;
}

.logo {
  height: 70px;
  margin-left: 10px;
}

.menu-wrapper {
  display: flex;
  align-items: center;
}

.menu {
  width: 35px;
  margin-top: -10px;
  cursor: pointer;
}

.slide-in-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: rgb(165, 159, 159);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 20;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.slide-in-menu.open {
  transform: translateX(0);
}
.close-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.close-btn {
  width: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.large-screens {
  display: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
li {
  padding: 15px;
}
@media (min-width: 768px) and (max-width: 2000px) {

  .small-screens {
    display: none;
  }
  .large-screens {
    display: flex;
    justify-content: space-between;
  }
  .menu-wrapper{
    margin-right:3%;
  }
  .large-screens .menu-wrapper ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .large-screens .menu-wrapper li {
    margin-right:2%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  .logo-wrapper {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:2%;
  }

  .logo-large {
    width: 150px; 
    height: auto; 
    object-fit: contain;
  }
}
